/* from https://github.com/pallets/flask/blob/master/.gitignore */

#secret files
credentials.json

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
venv/
venv*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

#vim files
*.swp
*.swo

node_modules
token.pickle
package-lock.json
